@font-face {
    font-family: 'arvo';
    src: url('assets/font/Arvo-Regular.ttf');
}

@font-face {
    font-family: 'arvo-bold';
    src: url('assets/font/Arvo-Bold.ttf');
}

@font-face {
    font-family: 'mulish-light';
    src: url('assets/font/mulish/Mulish-Light.ttf');
}

@font-face {
    font-family: 'mulish-black';
    src: url('assets/font/mulish/Mulish-Black.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #F0ECF9;
    /* overflow: hidden; */
    overflow-y: hidden;
    /* margin-top: 2rem; */

}



.hero{
    background-color: #F0ECF9;
    border-bottom-right-radius: 300px ;
    
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


li a{
    font-size: 18px;
    /* line-height: 22.23px; */
    font-family: 'arvo';
    color: #808081;
    text-transform: capitalize;

}






/* .nav-list{
    display: flex;

} */

/* .nav-list li{
    list-style: none;
    margin-right: 1rem;
    padding-top: 1rem;
    font-size: 18px;
    line-height: 22.23px;
    font-family: 'arvo';
    color: #808081;
    text-transform: capitalize;


}  */




.left-section{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;


}

.h-img{
    display: flex;
}


.hero-row{
    margin-top: 3rem;
}

.left-section p{
    font-weight: 700;
    font-family: 'mulish-light';
    color: #6F42C199;
}

.left-section h2{
    font-size: 48.27px;
    color: #6F42C1;
    text-transform: capitalize;
    font-family: 'mulish-black';
    letter-spacing: 4%;
    font-weight: 900;
}

.hero-para p{
    color: #808081;
    font-family: 'mulish-light';
    font-weight: 400;
    font-size: 15px;
}

.h-btn{
    padding: 10px 20px;
    color: white;
    background-color: #6F42C1;
    border-radius: 25.8px;
    text-transform: capitalize;
    border: 1px solid #6F42C1;
}




.mid-text {
    margin-top: 4rem;

}

.mid-text h3{
    font-size: 30px;
    font-weight: 900;
    font-family: 'mulish-black';
    color: #6F42C1;
    text-align: center;

}

.mid-text p{
    font-size: 15px;
    font-weight: 400;
    font-family: 'mulish-light';
    color: #808081;
    text-align: center;

}

.case-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
}

.case{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.case img{
    width: 26px;
}

.case h4{
    margin-top: 18px;
    font-family: 'mulish-black';
    font-size: 27px;
    font-weight: 900;

}


.case p{
     font-family: 'mulish-light';
     font-size: 12px;
     color: #808081;
     font-weight: 500;
     text-transform: uppercase;
     margin-top: 9px;

}

.check{
    margin-top: 5rem;
}

.check-2{
    margin-top: 5rem;
}

.check-sign{
    display: flex;
}

.check-sign img{
    width: 17px;
    height: 17px;
     margin-top: 3px;
    margin-right: 6px;
}


.check-img img{
    width: 90%;
}

.check-section h5{
    color: #6F42C1;
    font-family: 'mulish-black';
    font-size: 30px;
    font-weight: 900;

}

.virus{
    display: flex;
}

.virus img {
    width: 50px;
    height: 50px;
    margin-top: 3px;
    margin-right: 6px;
}

.protection-text h6{
    font-size: 18px;
    color: #6F42C1;
    font-weight: 900;
    font-family: 'mulish-black';

}

.protection-text p{
      font-family: 'mulish-light';
     font-size: 16px;
     color: #808081;
     font-weight: 500;
     margin-top: -7px;

}

.protection{
    margin-top: 14%;
    
}

.check-para{
    width: 100%;
}

.check-para p{
    max-width: 70%;
    font-family: 'mulish-light';
     font-size: 15px;
     color: #808081;
     font-weight: 500;

}

.check-section p{
      font-family: 'mulish-light';
     font-size: 15px;
     color: #808081;
     font-weight: 500;

}

.check-btn{
    padding: 10px 41px;
    background-color: #6F42C1;
    color: white;
    border-radius: 25.8px;
    text-transform: uppercase;
    border: 1px solid #6F42C1;
    font-family: 'mulish-light';
    font-weight: 400;
}

.purple-section{
    background-color: #F8F5FC;
    margin-top: 5%;
    /* height: 735px; */
    /* padding-top: 50px; */
    padding-bottom: 60px;
}

.cards{
    display: flex;

}

.cards-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 3rem; */
    gap: 2rem;
    margin-right: 4rem;
}

.card-padding-top{
    padding-top: 10rem;
}



.card-body h5{
    font-family: 'mulish-black';
    font-size: 17px;
    font-weight: 900;

}

.card-body{
    padding: 27px;
}

.card-body p{
       font-family: 'mulish-light';
     font-size: 15px;
     color: #808081;
     font-weight: 500;

}

.cards-para{
    width: 100%;
}

.cards-para p{
    max-width: 80%;
    font-family: 'mulish-light';
     font-size: 15px;
     color: #808081;
     font-weight: 500;

}


.card-btn{
    padding: 10px 41px;
    background-color: #6F42C1;
    color: white;
    border-radius: 25.8px;
    text-transform: uppercase;
    border: 1px solid #6F42C1;
    font-family: 'mulish-light';
    font-weight: 400;
    margin-top: 1rem;
}


.protect-section{
    text-align: center;
    margin-top: 3rem;


}

.protect-section h3{
    color: #6F42C1;
    font-size: 30px;
    font-weight: 900;
    font-family: 'mulish-black';

}

.protect-section p{
    font-family: 'mulish-light';
     font-size: 15px;
     color: #808081;
     font-weight: 500;

}

.protect-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
}

.protect{
    margin-top: 5rem;
}

.card-sign{
    display: flex;
}

.card-sign img{
    width: 17px;
    height: 17px;
     margin-top: 3px;
    margin-right: 6px;
}


.should{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.should h5{
    font-size: 17px;
    font-weight: 700;
    color: #000000;
}

.avoid h5{
    font-size: 17px;
    font-weight: 700;
    color: #000000;
}

.avoid{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Symtoms-text{
    align-items: center !important;
    padding-top: 3rem;
}

.symptoms{
    background-color: #F8F5FC;
    margin-top: 5%;
    padding-bottom: 4rem;
    /* padding-top: 3rem; */
}

.Symtoms-text h3{
    text-align: center;
     font-size: 30px;
    color: #6F42C1;
    text-transform: capitalize;
    font-family: 'mulish-black';
    /* letter-spacing: 4%; */
    font-weight: 900;

}

.symtoms-para{
    width: 100%;
    
}

.symtoms-para{
    display: flex;
    justify-content: center;
    align-items: center;
}

.symtoms-para p{
    max-width: 45%;
    text-align: center !important;
    color: #808081;
    font-size: 15px;
    font-weight: 400;
}

.fever-card{
    display: flex;
    align-items: center;
    max-width: 470px;
    height: 184px;
    /* padding: 56px; */
    background-color: #FFFFFF;
    border-radius: 10px;
}

.fever-card img{
   margin-right: 19px;
    margin-left: 19px;
}


.fever-para h6{
     color: #6F42C1;
    font-size: 17px;
    font-weight: 900;
    font-family: 'mulish-black';

    
}

.fever-para p{
    color: #808081;
    font-weight: 400;
    font-size: 15px;

}



.fever{
    /* margin-bottom: 2rem; */
    padding-top: 3rem;
}

.doctor-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
}

.doctor-section p{
    color: #808081;
    font-size: 17px;
    font-weight: 400;
    max-width: 45%;

}

.dr-para{
    /* width: 100%; */
}

.doctor-section span{
    color: #6F42C1;
    font-size: 17px;
    font-weight: 400;
}

.stay-btn{
    /* width: 24%; */
}

.dr-btn{
    padding: 10px 41px;
    background-color: #6F42C1;
    color: white;
    border-radius: 25.8px;
    text-transform: uppercase;
    border: 1px solid #6F42C1;
    font-family: 'mulish-light';
    font-weight: 400;
    /* max-width: 90%; */
}


.footer-color {
    background-color: #F0ECF9;
    padding-top: 35px;
}

.footer-para{
    color: #808081 !important;
    font-family: 'mulish-light';
    font-size: 15px;
    font-weight: 400;



}

.footer-list{
    color: #6F42C1 !important;
    font-family: 'mulish-light';
    font-size: 15px;
    font-weight: 400;
    
}

.footer-icon{
    display: flex;
    gap: 10px;
   
}

.footer-icon img{
    margin-top: 20px;
}

.symtoms{
    padding-bottom: 4rem;
}

.contigous{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.date img{
    width: 321px;
}

.date-para{
    background-color: #6F42C1;
    width: 146px;
    height: 32px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'mulish-light';
    font-weight: 400;
    margin-bottom: 0px;
    position: absolute;
    margin-top: -15px;
    padding: 3px;
    margin-left: 90px;
    z-index: 9999;
}

.admin{
    display: flex;
    margin-top: 36px;
    margin-left: 53px;
}

.admin p{
    margin-right: 67px;
    color: #808081 !important;
    font-family: 'mulish-light';
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;

}

.admin img{
     width: 17px;
    height: 17px;
     /* margin-top: 3px; */
    margin-right: 6px;
}

.contigous h6{
    color: #6F42C1;
    font-size: 16px;
    font-weight: 600;
    font-family: 'mulish-light';
}


    







@media screen and (max-width:1127px) {
   .h-img img{
        width: 470px;
    }

    .hero{
        height: 424px;
    }

    .protect-img img{
        width: 90%;
    }


}

@media screen and (max-width:1199px) and (min-width:768px){
    .date img{
        width: 225px;

    }

    .admin{
        margin-left: 0px;
    }

    .admin p{
        margin-right: 25px;
    }

    .date-para{
        margin-left: 45px;
        width: 128px;
    }
}


@media screen and (max-width:992px) {
    .hero{
        border-bottom-right-radius: 0%;
        height: 482px;
    }

    .h-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .h-img img{
        width: 100%;
    }

    .hero-row{
        /* flex-direction: column-reverse; */
    }


    .hero-row{
        align-items: center;
        justify-content: center;
    }

    .nav-item a{
        font-weight: 900;

    }





    .left-section *{
        text-align: center;
    }

    .check{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }

    .check-2{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }


    .check-section{
        margin-top: 2rem;
    }

    .check-img{
        display: flex;
        align-items: center;
        justify-content: center;


    }
    .check-img img{
        width: 100%;
    }

    .check-section *{
        text-align: center;
    }

    .check-sign {
    text-align: center;
    align-items: center;
    justify-content: center;
    }


    .check-sign img{
    width: 17px;
    height: 17px;
     margin-top: -20px;
    /* margin-right: 6px; */
}

    .check-para p{
        text-align: center;
        max-width: 100%;

    }

    .check-img img{
        width: 500px;
    }

    .c-btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .cards-section{
        flex-direction: column;
    }

    .cards-para{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    

    }

    .protect-text{
        margin-top: 10%;

    }

    .protect{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .protect-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .dr-para p{
        max-width: 60%;
    }

    

    
 




  

}


@media screen and (max-width:767px) {

    .hero{
        border-bottom-right-radius: 0%;
        height: 760px;
    }

    .hero-row{
        flex-direction: column-reverse;
    }

    .card-padding-top{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.two-cards {
    margin-right: 0;
}

    .case-section{
        flex-direction: column;
    }

     .check-img img{
        width: 90%;
    }

    .protection{
    display: flex;
    justify-content: center;
    align-items: center;
    }

   .virus{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* column-gap: 2rem; */
    }

    .cards{
        flex-direction: column;
        column-gap: 1rem;
        /* margin-top: 1rem; */
    }

    .protect-img img{
        width: 90%;
    }

    .protect-text{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }


    .fever-card{
        margin-bottom: 2rem;
    }

       .dr-para{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: ;
    }

    .doctor-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dr-btn{
        /* max-width: 24%; */
    }

    .footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.footer-para p{
    max-width: 100%;
}

.admin p{
    margin-right: 47px;
}

.date-para{
        margin-left: 88px;
    }


    
}